
<div class="container">
	<div class="row-fluid">
        <div class="span2" >
		    <img src="../assets/image/image.jpg" class="img-circle">
        </div>
        
        <div class="span8">
            <h3>User Name</h3>
            <h6>Email: huadaithang@gmail.com</h6>
            <h6>Skype: huadaithang@gmail.com</h6>
            <h6>Address: 60/2/1 Ung văn khiêm - Bình Thạnh - Tp.Hồ Chí Minh</h6>
            <h6>Birthday: 24/08</h6>
            
        </div>
        
        
</div>
</div>