body.mozbar-margin-wGA7MhRhQ3WS {
  margin-top: 43px;
  position: absolute;
  width: 100%;
}
iframe.mozbar-wGA7MhRhQ3WS {
  overflow: hidden;
  border: 0;
}
iframe#mozbar-wGA7MhRhQ3WS {
  z-index: 2147483640;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: content-box;
  background: white;
  color: black;
  text-align: left;
  display: block;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  width: 100%;
  min-width: 1200px;
  height: 43px;
}
iframe#mozbar-wGA7MhRhQ3WS.bottom {
  top: auto;
  bottom: 0;
}
.mozbar-serp-item-wGA7MhRhQ3WS {
  width: 560px;
  height: 32px;
  overflow: hidden;
}
#mozbar-profiles-drop-down-wGA7MhRhQ3WS {
  width: 210px;
  z-index: 2147483641;
  position: fixed;
  left: 0;
}
#mozbar-profile-dialog-wGA7MhRhQ3WS {
  width: 500px;
  height: 330px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -165px 0 0 -250px;
  z-index: 2147483641;
}
#mozbar-dialog-overlay-wGA7MhRhQ3WS {
  background-color: #000;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2147483640;
}
#mozbar-tooltip-wGA7MhRhQ3WS {
  position: fixed;
  z-index: 2147483641;
  overflow: hidden;
  height: 200px;
  width: 200px;
}
#mozbar-settings-dialog-wGA7MhRhQ3WS {
  width: 630px;
  height: 450px;
  position: fixed;
  z-index: 2147483641;
}
#mozbar-help-dialog-wGA7MhRhQ3WS {
  width: 250px;
  height: 160px;
  position: fixed;
  z-index: 2147483641;
}
#mozbar-onboarding-dialog-wGA7MhRhQ3WS {
  width: 410px;
  height: 300px;
  position: fixed;
  top: 75px;
  right: 30px;
  z-index: 2147483641;
}
.mozbar-highlight-followed-wGA7MhRhQ3WS {
  background-color: #0ae3b8;
}
.mozbar-highlight-no-followed-wGA7MhRhQ3WS {
  background-color: #dc1cd5;
}
.mozbar-highlight-external-wGA7MhRhQ3WS {
  background-color: #4dbdeb;
}
.mozbar-highlight-internal-wGA7MhRhQ3WS {
  background-color: #ffce26;
}
.mozbar-highlight-keyword-wGA7MhRhQ3WS {
  background-color: #ffff00;
}
#mozbar-keyword-difficulty-wGA7MhRhQ3WS {
  height: 50px;
  left: 200px;
  position: absolute;
  top: -3px;
  width: 220px;
}
#mozbar-button-notification-wGA7MhRhQ3WS {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 2147483640;
  width: 200px;
  height: 85px;
}
#mozbar-address-bar-highlight-wGA7MhRhQ3WS {
  width: 100%;
  height: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2147483641;
}
#mozbar-onboarding-tip-wGA7MhRhQ3WS {
  position: fixed;
  z-index: 2147483641;
  overflow: hidden;
  height: 210px;
  width: 610px;
}
#mozbar-login-requirements-dialog-wGA7MhRhQ3WS {
  width: 410px;
  height: 300px;
  position: fixed;
  top: 50px;
  left: 100px;
  z-index: 2147483641;
}
